<html>
<header> </header>

<body>

<h1> Blogs </h1>

<form method='POST' action='/create_posts'>
<input type='textbox' placeholder='title' name='title'/>
<label for="published">Is Published</label>
<input type='radio' id="published" name='isPublished' />
<br>
<textarea rows="20" cols="60" placeholder='Blog Body' name='body'></textarea>
<br>
<button type='submit'> Post </button>
</form>



<a href="http://localhost:3000/view_posts"> See all posts </a>






</body>
</html>