<html>
<header>
</header>
<body>
<h1> Login Page</h1>

<form>
<input type='text' placeholder="username" name='username' />
<input type='password' placeholder='password' name='password' />
<button type='submit'> Login </button>
</form>











</body>
</html>