<html>
<header>
</header>
<body>
<h1> Registration Page</h1>

<form method='POST' action='/register'>
<input type='text' placeholder="username" name='username' />
<input type='password' placeholder='password' name='password' />
<button type='submit'> Register </button>
</form>











</body>
</html>