<h1> All Posts </h1>

{{#posts}}
postID: {{post_id}} - Title: {{title}} - Published: {{is_published}}
<li>
{{body}}
</li>
<form method='POST' action='/delete-post'>
    <input type='hidden' value={{post_id}} name='post_id' />
    <button> Delete </button>
</form>

<form method='POST' action='/update-post'>
    <input type="hidden" value={{post_id}} name='postID' />
    <button> Update </button>

</form>

<br>
<br>
{{/posts}}

<br>
<a href="http://localhost:3000"> Create Post </a>