.container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 40px 40px;
    grid-gap: 5px;
    background-color: brown;
    text-align: center;
    width: 310px;
}

.container > .item{
    background-color: yellow;
}

.container2 {
    display: grid;
    grid-template-columns: 10% 50px 1fr;
    grid-gap: 5px;
    width: 300px
}

.container3 {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 3fr 2fr 1fr;
    grid-gap: 5px;
    width:300px;
}

.content {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px;
    grid-template-rows: 40px 40px;
    background-color: gray;
    grid-gap: 5px;
    text-align: center;
    width: 270px
}

.content2{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(2,40px);
    background-color: black;
    grid-gap: 5px;
    width:fit-content;
    
}

.content2 > .item {
    background-color: orange;
    text-align: center;
}

.item{
    background-color: green;
    text-align: center;
}

.webContainer{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 50px;
    /* FOR ARRANGING USING TEMPLATE AREAS */

    /* grid-template-areas: 
    "header header header"
    "sidebar contentss contentss"
    "footer footer footer"; */
    width: 100%;
    min-height: 300px;
}

.header{
    background-color: skyblue;
    text-align: center;
    /* grid-area: header; */  /* FOR ARRANGING USING TEMPLATE AREAS */
    grid-area: 1/1/2/4;
}

.footer{
    background-color: lightgreen;
    /* grid-area: footer; */  /* FOR ARRANGING USING TEMPLATE AREAS */
    text-align: center;
    grid-area: 3/1/4/4
}

.sidebar{
    background-color: lightsalmon;
    /* grid-area: sidebar; */  /* FOR ARRANGING USING TEMPLATE AREAS */
    text-align: center;
    grid-area: 2/1/3/2;
}

.contents{
    background-color: lightgoldenrodyellow;
    /* grid-area: contentss; */  /* FOR ARRANGING USING TEMPLATE AREAS */
    text-align: center;
    grid-area: 2/2/3/4;
}